In [1]:
import pandas as pd
#pip install yfinance
import yfinance as yf

In [2]:
#Getting data from Yahoo Finance
#########################################################################################
df = yf.download("AAPL",
                 start = "2011-01-01",
                 end = "2021-12-31",
                 progress = False)

In [3]:
print(f"Downloaded {len(df)} rows of data.")
df

Downloaded 2768 rows of data.

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,11.630000,11.795000,11.601429,11.770357,10.017964,445138400
2011-01-04,11.872857,11.875000,11.719643,11.831786,10.070250,309080800
2011-01-05,11.769643,11.940714,11.767857,11.928571,10.152622,255519600
2011-01-06,11.954286,11.973214,11.889286,11.918929,10.144419,300428800
2011-01-07,11.928214,12.012500,11.853571,12.004286,10.217068,311931200
...,...,...,...,...,...,...
2021-12-23,175.850006,176.850006,175.270004,176.279999,174.995605,68356600
2021-12-27,177.089996,180.419998,177.070007,180.330002,179.016129,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.983688,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,178.073044,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,176.901627,59773000

In [4]:
appl_data = yf.Ticker("AAPL")#another way of downloading the data
appl_data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-17 00:00:00-05:00,134.624449,137.080690,133.925519,135.732758,63646600,0.00,0.0
2023-01-18 00:00:00-05:00,136.611422,138.398686,134.824142,135.003876,69672800,0.00,0.0
2023-01-19 00:00:00-05:00,133.875593,136.042283,133.566069,135.063782,58280400,0.00,0.0
2023-01-20 00:00:00-05:00,135.073758,137.809586,134.015376,137.659805,79972200,0.00,0.0
2023-01-23 00:00:00-05:00,137.909435,143.101520,137.689769,140.894882,81760300,0.00,0.0
2023-01-24 00:00:00-05:00,140.096097,142.941758,140.086117,142.312714,66435100,0.00,0.0
2023-01-25 00:00:00-05:00,140.675215,142.212861,138.598384,141.643738,65799300,0.00,0.0
2023-01-26 00:00:00-05:00,142.951735,144.030091,141.683667,143.740540,54105100,0.00,0.0
2023-01-27 00:00:00-05:00,142.941753,147.005541,142.861874,145.707520,70492800,0.00,0.0
2023-01-30 00:00:00-05:00,144.739016,145.328113,142.632232,142.781998,64015300,0.00,0.0
2023-01-31 00:00:00-05:00,142.482450,144.119949,142.063092,144.070023,65874500,0.00,0.0
2023-02-01 00:00:00-05:00,143.750517,146.386491,141.104563,145.208282,77663600,0.00,0.0
2023-02-02 00:00:00-05:00,148.673001,150.949524,147.944119,150.590088,118339000,0.00,0.0
2023-02-03 00:00:00-05:00,147.804328,157.140080,147.604636,154.264465,154279900,0.00,0.0
2023-02-06 00:00:00-05:00,152.337419,152.866610,150.550139,151.498688,69858300,0.00,0.0
2023-02-07 00:00:00-05:00,150.410349,154.993348,150.410349,154.414230,83322600,0.00,0.0
2023-02-08 00:00:00-05:00,153.645419,154.344349,150.939544,151.688400,64120100,0.00,0.0
2023-02-09 00:00:00-05:00,153.545567,154.094731,150.190688,150.639999,56007100,0.00,0.0
2023-02-10 00:00:00-05:00,149.460007,151.339996,149.220001,151.009995,57409100,0.23,0.0
2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000,0.00,0.0
2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600,0.00,0.0
2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65573800,0.00,0.0

In [5]:
#########################################################################################

In [6]:
#Getting data from Nasdaq Data Link
#before downloading the data, we need to create an account at https://data.nasdaq.com/,
#authenticate our email address and find our API key in our profile
import pandas as pd
# pip install nasdaq-data-link
import nasdaqdatalink

In [7]:
nasdaqdatalink.ApiConfig.api_key = "YOUR_KEY_HERE"

In [8]:
df = nasdaqdatalink.get(dataset = "WIKI/AAPL",
                        start_date = "2011-01-01",
                        end_date = "2021-12-31")

LimitExceededError: (Status 429) (Nasdaq Data Link Error QELx06) You have exceeded the API speed limit and your account has temporaly been disabled.  Please contact clientsuccess@nasdaq.com for more information.

In [ ]:
print(f"Downloaded {len(df)} rows of data.")
df.head()

In [ ]:
#another way
COLUMNS = ["ticker", "date", "adj_close"]
df = nasdaqdatalink.get_table("WIKE/PRICES",
                              ticker = ["AAPL","MSFT","INTC"],
                              qopts = {"columns":COLUMNS},
                              date = {"gte":"2011-01-01","lte":"2021-12-31"},
                              paginate = True)
df.head()

In [ ]:
df = df.set_index("date")
df_wide = df.pivot(columns = "ticker")
df_wide.head()

In [ ]:
#################################################################################
#getting data from Intrinio
#register API key: https://intrinio.com
#(https://docs.intrinio.com/developer-sandbox) this link has some information about 
#sandbox API key(the free one)
import intrinio_sdk as intrinio
import pandas as pd

In [ ]:
intrinio.ApiClient().set_api_key("YOUR_OWN_KEY")
# now many functions have to be used with subscription, so the next codes may get faults with a free account
security_api = intrinio.SecurityApi()# use our own API key

In [ ]:
#request the data
r = security_api.get_security_stock_prices(
    identifier="AAPL",
    start_date="2011-01-01",
    end_date="2021-12-31",
    frequency="daily",
    page_size=10000
)

In [ ]:
df = {
    pd.DataFrame(r.stock_prices_dict)
    .sort_values("date")
    .set_index("date")
}
print(f"Downloaded {df.shape[0]} rows of data")
df.head()
# https://docs.intrinio.com/developer-sandbox this link can tell us
#what data we can download for free

In [ ]:
security_api.get_security_realtime_price("KO")

In [ ]:
#Download news articles related to Coca-Cola
r = intrinio.CompanyApi().get_company_news(
    identifier = "KO",
    page_size = 100
)
df = pd.DataFrame(r.news_dict)
df.head()

In [ ]:
#Search for companies connected to the search phrase
r = intrinio.CompanyApi().recognize_company("Intel")
df = pd.DataFrame(r.companies_dict)
df

In [ ]:
#Get Coca-Colaâ€™s intraday stock prices
response = (
    security_api.get_security_intraday_prices(
        identifier = "KO",
        start_date = "2021-01-02",
        end_date = "2021-01-05",
        page_size = 1000
    )
)
df = pd.DataFrame(response.intraday_prices_dict)
df

In [ ]:
#Get Coca-Colaâ€™s latest earnings record
r = security_api.get_security_latest_earnings_record(identifier="KO")
print(r)

In [9]:
#################################################################################
#getting data from Alpha Vantage
# register at https://www.alphavantage.co/support/#api-key to obtain API key
#S60126HPP6W0UBHX
from alpha_vantage.cryptocurrencies import CryptoCurrencies
ALPHA_VANTAGE_API_KEY = "S60126HPP6W0UBHX"
crypto_api = CryptoCurrencies(key = ALPHA_VANTAGE_API_KEY, output_format = "pandas")

In [13]:
data, meta_data = crypto_api.get_digital_currency_daily(
    symbol="BTC",
    market="EUR"
)
#meta_data object contains some useful information about the details of the query
#the data DataFrame contains all the requested information
meta_data

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'BTC',
 '3. Digital Currency Name': 'Bitcoin',
 '4. Market Code': 'EUR',
 '5. Market Name': 'Euro',
 '6. Last Refreshed': '2023-02-16 00:00:00',
 '7. Time Zone': 'UTC'}

In [14]:
data

,1a. open (EUR),1b. open (USD),2a. high (EUR),2b. high (USD),3a. low (EUR),3b. low (USD),4a. close (EUR),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2023-02-16,22722.425154,24322.87,23266.251000,24905.00,22681.049436,24278.58,22971.594978,24589.59,34288.273170,34288.273170
2023-02-15,20739.090528,22199.84,22775.796000,24380.00,20596.568976,22047.28,22723.527510,24324.05,375669.161110,375669.161110
2023-02-14,20341.859346,21774.63,20850.484536,22319.08,20115.913734,21532.77,20739.090528,22199.84,361958.401090,361958.401090
2023-02-13,20349.090054,21782.37,20454.299658,21894.99,19946.169594,21351.07,20341.242774,21773.97,295730.767910,295730.767910
2023-02-12,20423.499084,21862.02,20636.478000,22090.00,20206.746000,21630.00,20350.183068,21783.54,204435.651630,204435.651630
...,...,...,...,...,...,...,...,...,...,...
2020-05-27,8259.262200,8841.00,8617.995000,9225.00,8231.918166,8811.73,8598.442194,9204.07,68910.355514,68910.355514
2020-05-26,8314.706970,8900.35,8424.307314,9017.67,8127.540000,8700.00,8259.430356,8841.18,58299.770138,58299.770138
2020-05-25,8144.486388,8718.14,8388.798372,8979.66,8074.029024,8642.72,8314.706970,8900.35,62833.910949,62833.910949
2020-05-24,8575.031142,9179.01,8686.191600,9298.00,8127.540000,8700.00,8146.541628,8720.34,70379.866450,70379.866450
2020-05-23,8566.614000,9170.00,8695.393470,9307.85,8473.194000,9070.00,8575.161930,9179.15,43526.296966,43526.296966

In [22]:
crypto_api.get_digital_currency_exchange_rate(
    from_currency="BTC",
    to_currency="USD"
)[0].transpose()

                      Realtime Currency Exchange Rate
1. From_Currency Code                             BTC
2. From_Currency Name                         Bitcoin
3. To_Currency Code                               USD
4. To_Currency Name              United States Dollar
5. Exchange Rate                       24711.88000000
6. Last Refreshed                 2023-02-16 03:03:02
7. Time Zone                                      UTC
8. Bid Price                           24711.30000000
9. Ask Price                           24711.88000000

In [31]:
#another way of accessing API
import requests
import pandas as pd
from io import BytesIO

In [48]:
AV_API_URL = "https://www.alphavantage.co/query"
parameters = {
 "function": "CRYPTO_INTRADAY",
 "symbol": "ETH",
 "market": "USD",
 "interval": "30min",
 "outputsize": "full",
 "apikey": "S60126HPP6W0UBHX"
}
r = requests.get(AV_API_URL, params=parameters)
data = r.json()
'''data
   {'Information': 'Thank you for using Alpha Vantage!
   This is a premium endpoint.
   You may subscribe to any of the premium plans 
   at https://www.alphavantage.co/premium/ to instantly unlock all premium endpoints'}
'''
df = (
 pd.DataFrame(data["header"])
 .transpose()
)
df

{'Information': 'Thank you for using Alpha Vantage! This is a premium endpoint. You may subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly unlock all premium endpoints'}

In [50]:
#download the upcoming earnings announcements within the next three months
parameters = {
    "function":"EARNINGS_CALENDAR",
    "horizon":"3month",
    "apikey": ALPHA_VANTAGE_API_KEY
}
r = requests.get(AV_API_URL, params = parameters)
pd.read_csv(BytesIO(r.content))
#the output of r.content is a bytes object containing the output of the query as text
# using the BytesIO class from the io module can mimic a normal file in-memory

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2023-02-28,2023-01-31,1.3000,USD
1,AA,Alcoa Corp,2023-04-18,2023-03-31,0.2600,USD
2,AABVF,AABVF,2023-05-01,2023-04-30,NaN,USD
3,AACAY,AACAY,2023-03-22,2022-12-31,0.0313,USD
4,AACAY,AACAY,2023-05-12,2023-03-31,0.0267,USD
...,...,...,...,...,...,...
10818,ZYME,Zymeworks BC Inc,2023-05-02,2023-03-31,NaN,USD
10819,ZYNE,Zynerba Pharmaceuticals Inc,2023-02-27,2022-12-31,-0.1800,USD
10820,ZYNE,Zynerba Pharmaceuticals Inc,2023-05-15,2023-03-31,-0.1867,USD
10821,ZYXI,Zynex Inc,2023-02-22,2022-12-31,0.1900,USD
10822,ZYXI,Zynex Inc,2023-04-26,2023-03-31,0.0667,USD

In [53]:
########################################################################################
#getting data from coingecko//completely free!!!
from pycoingecko import CoinGeckoAPI
from datetime import datetime
import pandas as pd
cg = CoinGeckoAPI()

In [54]:
ohlc = cg.get_coin_ohlc_by_id(
    id = "bitcoin", vs_currency = "usd", days = "14"
)
ohlc_df = pd.DataFrame(ohlc)
ohlc_df.columns = ["date", "open", "high", "low", "close"]
ohlc_df["date"] = pd.to_datetime(ohlc_df["date"], unit = "ms")
ohlc_df#we must predefine number of days
#varying frequency: 
#30 minutes for requests of 1 or 2 days
#4 hours between 3 and 30 days
#every 4 days above 30 days

                  date      open      high       low     close
0  2023-02-02 20:00:00  23795.26  24047.16  23795.26  24047.16
1  2023-02-03 00:00:00  23828.52  23828.52  23584.48  23644.90
2  2023-02-03 04:00:00  23519.66  23582.74  23455.27  23455.27
3  2023-02-03 08:00:00  23534.49  23545.15  23526.63  23529.77
4  2023-02-03 12:00:00  23478.10  23478.10  23438.56  23441.97
..                 ...       ...       ...       ...       ...
80 2023-02-16 04:00:00  24307.88  24683.60  24307.88  24683.60
81 2023-02-16 08:00:00  24722.27  24722.27  24656.58  24683.85
82 2023-02-16 12:00:00  24583.18  24649.18  24583.18  24617.56
83 2023-02-16 16:00:00  24578.05  24578.05  24414.39  24417.16
84 2023-02-16 20:00:00  24679.83  24679.83  24679.83  24679.83

[85 rows x 5 columns]

In [55]:
#get the top 7 trending coins
trending_coins = cg.get_search_trending()
(
    pd.DataFrame([coin["item"] for coin in trending_coins["coins"]])
    .drop(columns=["thumb","small","large"])
)
#double braces means the return of the front function is a function which needs parameters
#in the back brace

,id,coin_id,name,symbol,market_cap_rank,slug,price_btc,score
0,access-protocol,28747,Access Protocol,ACS,86,access-protocol,8.015719e-07,0
1,blur,28453,Blur,BLUR,131,blur,4.155887e-05,1
2,truefi,13180,TrueFi,TRU,262,truefi,4.744955e-06,2
3,floki,16746,FLOKI,FLOKI,95,floki,2.184920e-09,3
4,vaiot,13981,Vaiot,VAI,538,vaiot,7.370382e-06,4
5,hello-labs,27891,HELLO,HELLO,958,hello,8.579898e-07,5
6,syscoin,119,Syscoin,SYS,232,syscoin,8.692758e-06,6

In [61]:
#get bitcoin's current price in USD
cg.get_price(ids="bitcoin", vs_currencies="usd")
#documentation  https://github.com/man-c/pycoingecko.

{'bitcoin': {'usd': 24820}}